/* adaptive */
$big-notebook_width: 1600px;
$bigpc_width: 1301px;
$smallpc_width: 1300px;
$container-min_width: 982px;
$container_width: 1140px;
$laptop_width: 1199px;
$ipad_width: 1024px;
$tablet_min_width: 992px;
$tablet_width: 991px;
$big-mobile-min_width: 768px;
$big-mobile_width: 767px;
$s_mobile_width: 600px;
$mobile_width: 450px;

/* fonts */
$roboto: Roboto;
$taviraj: Taviraj;
$parisienne: Parisienne;
$lato: Lato;

/* colors */
$base: #151515;
$gold: #cebd88;
$black: #000000;
$white: #ffffff;
$gray: #777777;
$light: #eff3f8;

/*others*/
$transition_all: all .3s ease-in-out;