@import "partial/fonts.scss";
@import "partial/variables.scss";

html,body,h1,h2,h3 {
    margin: 0;
    padding: 0;
}

body,div,p,a,span,li {
    font-family:  $taviraj, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    color: $black;
} 

div {
    box-sizing: border-box;
} 

a {
    cursor: pointer;
    transition: $transition_all;
}

.container {
    width: $container_width;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $mobile_width) {
        padding-left: 10px;
        padding-right: 10px;
    }  
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
    background: $white;
}

.text-center {
    text-align: center;
}

h1,.h1 {
    font-weight: 400;
    font-style: normal;
    font-family: $taviraj, serif;
    color: #ffffff;
    font-size: 90px;
    line-height: 1.4;
    letter-spacing: 0px;
    text-align: center;
}

h2,.h2 {
    font-weight: 400;
    font-style: normal;
    font-family: $taviraj, serif;
    color: #151515;
    font-size: 53px;
    line-height: 1.2;
    letter-spacing: 0px;
    text-align: center;
}

.title {
    text-align: center;
    font-family: $parisienne;
    font-size: 36px;
    color: $gold;
}

header, .header {
    background-image: url(./images/banner.png);
    background-size: cover;
    background-position: top;

    &-container {
        position: relative;
        width: $container_width;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 15px;
        padding-bottom: 15px;

        @media (max-width: $mobile_width) {
            padding-left: 10px;
            padding-right: 10px;
        } 
    }

    &-button {
        position: absolute;
        top: 53px;
        right: 15px;

        @media (max-width: $mobile_width) {
            right: 10px;
        }
    }

    &-logo {
        text-align: center;
        padding: 15px 0;
    }

    &-menu {
        display: flex;
        padding: 15px;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(255,255,255,0.23);
        border-bottom: 1px solid rgba(255,255,255,0.23);
    
        @media (max-width: $container-min_width) {
            flex-wrap: wrap;
        }
    
        &__item {
            list-style: none;
            background: transparent;
            text-align: center;
            box-shadow: none;
    
            @media (max-width: $container-min_width) {
                margin: 20px 15px;
            }
    
            &+li {
                margin-left: 60px;
    
                @media (max-width: $container-min_width) {
                    margin: 20px 10px;
                }
            }
        }

        &__link {
            color: $white;
            font-size: 20px;
            line-height: 24px;

            &:hover {
                color: $base;
            }

            &_current {
                color: $base;
            }
        }
        
    }

    &-title {
        text-align: center;
        font-family: $parisienne;
        font-size: 36px;
        color: $gold;
    }
}

.banner {
    padding-top: 100px;
    padding-bottom: 100px;

    &-title {
        padding-bottom: 45px;
        font-weight: 400;
        font-style: normal;
        font-family: $lato, sans-serif;
        color: rgba($light, 0.5);
        font-size: 18px;
        line-height: 1.4;
        letter-spacing: 0px;
        text-align: center;
    }

    &-button {
        padding-bottom: 40px;
        text-align: center;
    }

    &__link {
        display: inline-block;
        padding: 14px 36px;
        font-size: 14px;
        line-height: 26px;
        font-family: $lato, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: $white;
        transition: $transition_all;
        background: $gold;
        text-transform: uppercase;

        &:hover {
            background: $base;
        } 
    }
}

.service {
    display: flex;
    margin-top: 15px;
    justify-content: center;

    &__item {
        padding-left: 15px;
        padding-right: 15px;
    }

    &__bottom {
        text-align: center;
    }

    &__top {
        text-align: center;
    }
}




